@namespace Embyte.Shared.Identity

@using MudBlazor
@using Embyte.Shared
@using Embyte.Data.Storage
@using Embyte.Data.Models
@using Embyte.Modules.Db
@using Embyte.Modules.Logging
@using Serilog.Core

@inject UserManager tdbm
@inject NotificationManager nm

<div>

    <h1 class="text-xl m-3">
        Persons in test db:
    </h1>

    @foreach (var person in tdbm.ReadAll())
    {
        <div class="m-4">
            <p class="text-lg">
                @person.Id | @person.Name | @person.Age | @person.Job
            </p>
            <p>
                Notifications: 
            </p>
        </div>
    }
    <div class="m-3">
        <MudTextField @bind-Value="@formName" Label="Name" />
        <MudTextField @bind-Value="@formJob" Label="Job" />
        <MudNumericField @bind-Value="@formAge" Label="Age" />
        <MudButton OnClick="SubmitForm">Add a test person</MudButton>
    </div>

</div>



@code {
    private string formName = "";
    private string formJob = "";
    private short formAge;

    protected override void OnInitialized()
    {
        Log.Debug("Init. Test db entries:");
        Log.Debug("Testdb collection count: {count}", tdbm.ReadAll().Count);
    }
    private void SubmitForm()
    {
        Log.Debug("Inserting new test person");
        Log.Debug("Success: {status}", tdbm.InsertOne(formName, formJob, formAge));
    }
}